*~
!.travis.yml
pkg/*
Gemfile.lock
coverage
spec/fixtures/vcr_cassettes
*.ipr
*.iws
*.iml
.idea
Guardfile
tmp/*
*.gem
.bundle/
dump.rdb
.ruby-version

!spec/fixtures/vcr_cassettes/CreateFactor
!spec/fixtures/vcr_cassettes/Stormpath_Resource_Account
!spec/fixtures/vcr_cassettes/Stormpath_Resource_Challenge
!spec/fixtures/vcr_cassettes/Stormpath_Resource_Factor
