---
http_interactions:
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/current
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151715Z
  response:
    status:
      code: 302
      message:
    headers:
      Location:
      - https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
      Stormpath-Request-Id:
      - ca0ae620-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:17 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151717Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - ca2e9ac0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo",
          "name" : "cuddly-talon",
          "key" : "cuddly-talon",
          "createdAt" : "2016-10-06T14:27:32.021Z",
          "modifiedAt" : "2016-10-06T14:27:32.559Z",
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/customData"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/organizations"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/applications"
          },
          "directories" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/directories"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/accounts"
          },
          "agents" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/agents"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/groups"
          },
          "idSites" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/idSites"
          },
          "smtpServers" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/smtpServers"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:17 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/applications
    body:
      encoding: UTF-8
      string: '{"name":"test_application_","description":"Dummy desc."}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151717Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua
      Stormpath-Request-Id:
      - ca54c060-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua",
          "name" : "test_application_",
          "description" : "Dummy desc.",
          "status" : "ENABLED",
          "createdAt" : "2016-10-11T15:17:14.737Z",
          "modifiedAt" : "2016-10-11T15:17:14.742Z",
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "defaultAccountStoreMapping" : null,
          "defaultGroupStoreMapping" : null,
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua/customData"
          },
          "oAuthPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/oAuthPolicies/69nwoaW62fdKsGoFNx0kua"
          },
          "samlPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/samlPolicies/69nwoaW62fdKsGoFNx0kua"
          },
          "accountLinkingPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/accountLinkingPolicies/69oIQqz0oDzNksuvEm1vVU"
          },
          "webConfig" : {
            "href" : "https://dev.i.stormpath.com/v1/webConfigs/69oIQuJ5ioIMNi0mR1tC7Y"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua/accounts"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua/groups"
          },
          "accountStoreMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua/accountStoreMappings"
          },
          "loginAttempts" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua/loginAttempts"
          },
          "passwordResetTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua/passwordResetTokens"
          },
          "apiKeys" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua/apiKeys"
          },
          "verificationEmails" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua/verificationEmails"
          },
          "authTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua/authTokens"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:17 GMT
[...]
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories
    body:
      encoding: UTF-8
      string: '{"name":"test_directory_"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151718Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA
      Stormpath-Request-Id:
      - cacb9e10-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA",
          "name" : "test_directory_",
          "description" : null,
          "status" : "ENABLED",
          "createdAt" : "2016-10-11T15:17:15.516Z",
          "modifiedAt" : "2016-10-11T15:17:15.516Z",
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "provider" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/provider"
          },
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/customData"
          },
          "passwordPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/passwordPolicies/6Ag3no6CHTDkO3v0oSk4tA"
          },
          "accountCreationPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/accountCreationPolicies/6Ag3no6CHTDkO3v0oSk4tA"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/accounts"
          },
          "applicationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/applicationMappings"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/applications"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/groups"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/organizations"
          },
          "organizationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/organizationMappings"
          },
          "accountSchema" : {
            "href" : "https://dev.i.stormpath.com/v1/schemas/6AgCSMwEkGlTf744jZ9WXs"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:18 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/accountStoreMappings
    body:
      encoding: UTF-8
      string: '{"application":{"href":"https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua"},"accountStore":{"href":"https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA","name":"test_directory_","description":null,"status":"ENABLED","createdAt":"2016-10-11T15:17:15.516Z","modifiedAt":"2016-10-11T15:17:15.516Z","tenant":{"href":"https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"},"provider":{"href":"https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/provider"},"customData":{"href":"https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/customData"},"passwordPolicy":{"href":"https://dev.i.stormpath.com/v1/passwordPolicies/6Ag3no6CHTDkO3v0oSk4tA"},"accountCreationPolicy":{"href":"https://dev.i.stormpath.com/v1/accountCreationPolicies/6Ag3no6CHTDkO3v0oSk4tA"},"accounts":{"href":"https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/accounts"},"applicationMappings":{"href":"https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/applicationMappings"},"applications":{"href":"https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/applications"},"groups":{"href":"https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/groups"},"organizations":{"href":"https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/organizations"},"organizationMappings":{"href":"https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/organizationMappings"},"accountSchema":{"href":"https://dev.i.stormpath.com/v1/schemas/6AgCSMwEkGlTf744jZ9WXs"}},"listIndex":1,"isDefaultAccountStore":true,"isDefaultGroupStore":true}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151718Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/accountStoreMappings/6AzaMgDTEV8LiTwoWXneDk
      Stormpath-Request-Id:
      - caf60970-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/accountStoreMappings/6AzaMgDTEV8LiTwoWXneDk",
          "listIndex" : 0,
          "isDefaultAccountStore" : true,
          "isDefaultGroupStore" : true,
          "application" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua"
          },
          "accountStore" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:18 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test@example.com","givenName":"Ruby SDK","password":"P@$$w0rd","surname":"SDK","username":"rubysdk"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151718Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk
      Stormpath-Request-Id:
      - cb1fd890-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk",
          "username" : "rubysdk",
          "email" : "test@example.com",
          "givenName" : "Ruby SDK",
          "middleName" : null,
          "surname" : "SDK",
          "fullName" : "Ruby SDK SDK",
          "status" : "ENABLED",
          "emailVerificationStatus" : "UNVERIFIED",
          "createdAt" : "2016-10-11T15:17:16.074Z",
          "modifiedAt" : "2016-10-11T15:17:16.074Z",
          "passwordModifiedAt" : "2016-10-11T15:17:16.000Z",
          "emailVerificationToken" : null,
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/customData"
          },
          "providerData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/providerData"
          },
          "directory" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA"
          },
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/groups"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/applications"
          },
          "groupMemberships" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/groupMemberships"
          },
          "apiKeys" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/apiKeys"
          },
          "accessTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/accessTokens"
          },
          "refreshTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/refreshTokens"
          },
          "linkedAccounts" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/linkedAccounts"
          },
          "accountLinks" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/accountLinks"
          },
          "phones" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/phones"
          },
          "factors" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/factors"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:18 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk/factors
    body:
      encoding: UTF-8
      string: '{"type":"SMS","phone":{"number":"+385958142457","name":"Markos test
        phone","description":"this is a testing phone number"}}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151718Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/factors/6BbRzZmz2fFyPFvyqZ6sH6
      Stormpath-Request-Id:
      - cb47d2f0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/factors/6BbRzZmz2fFyPFvyqZ6sH6",
          "type" : "SMS",
          "createdAt" : "2016-10-11T15:17:16.336Z",
          "modifiedAt" : "2016-10-11T15:17:16.336Z",
          "status" : "ENABLED",
          "verificationStatus" : "UNVERIFIED",
          "account" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk"
          },
          "challenges" : {
            "href" : "https://dev.i.stormpath.com/v1/factors/6BbRzZmz2fFyPFvyqZ6sH6/challenges"
          },
          "phone" : {
            "href" : "https://dev.i.stormpath.com/v1/phones/6BbRzWSu84wzmQq7eJFbf2"
          },
          "mostRecentChallenge" : null
        }
  recorded_at: Tue, 11 Oct 2016 15:17:19 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/factors/6BbRzZmz2fFyPFvyqZ6sH6/challenges
    body:
      encoding: UTF-8
      string: '{"message":"Enter code: ${code}"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151719Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/challenges/6Bu01eTc8MGfRWy2At3UvU
      Stormpath-Request-Id:
      - cb70b7b0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/challenges/6Bu01eTc8MGfRWy2At3UvU",
          "createdAt" : "2016-10-11T15:17:16.602Z",
          "modifiedAt" : "2016-10-11T15:17:16.602Z",
          "status" : "CREATED",
          "message" : "Enter code: ${code}",
          "account" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk"
          },
          "factor" : {
            "href" : "https://dev.i.stormpath.com/v1/factors/6BbRzZmz2fFyPFvyqZ6sH6"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:19 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/factors/6BbRzZmz2fFyPFvyqZ6sH6/challenges
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151719Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - cb99ea90-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/factors/6BbRzZmz2fFyPFvyqZ6sH6/challenges",
          "offset" : 0,
          "limit" : 25,
          "size" : 1,
          "items" : [ {
            "href" : "https://dev.i.stormpath.com/v1/challenges/6Bu01eTc8MGfRWy2At3UvU",
            "createdAt" : "2016-10-11T15:17:16.602Z",
            "modifiedAt" : "2016-10-11T15:17:16.602Z",
            "status" : "CREATED",
            "message" : "Enter code: ${code}",
            "account" : {
              "href" : "https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk"
            },
            "factor" : {
              "href" : "https://dev.i.stormpath.com/v1/factors/6BbRzZmz2fFyPFvyqZ6sH6"
            }
          } ]
        }
  recorded_at: Tue, 11 Oct 2016 15:17:19 GMT
[...]
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/applications/69nwoaW62fdKsGoFNx0kua
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151720Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - cc0cd0a0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https:/[...]
[...]
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/accounts/6BJ2bV2YpcZk4NYTrf3Npk
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151720Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - cc5b65d0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:21 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/directories/6Ag3no6CHTDkO3v0oSk4tA
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151721Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - cc829ce0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:21 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/factors/6BbRzZmz2fFyPFvyqZ6sH6
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151721Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - ccaa4920-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:21 GMT
recorded_with: VCR 2.9.3
