---
http_interactions:
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/current
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151710Z
  response:
    status:
      code: 302
      message:
    headers:
      Location:
      - https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
      Stormpath-Request-Id:
      - c65d6e80-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:10 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151710Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - c6814a30-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo",
          "name" : "cuddly-talon",
          "key" : "cuddly-talon",
          "createdAt" : "2016-10-06T14:27:32.021Z",
          "modifiedAt" : "2016-10-06T14:27:32.559Z",
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/customData"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/organizations"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/applications"
          },
          "directories" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/directories"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/accounts"
          },
          "agents" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/agents"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/groups"
          },
          "idSites" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/idSites"
          },
          "smtpServers" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/smtpServers"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:11 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/applications
    body:
      encoding: UTF-8
      string: '{"name":"test_application_","description":"Dummy desc."}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151711Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA
      Stormpath-Request-Id:
      - c6a7bdf0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA",
          "name" : "test_application_",
          "description" : "Dummy desc.",
          "status" : "ENABLED",
          "createdAt" : "2016-10-11T15:17:08.569Z",
          "modifiedAt" : "2016-10-11T15:17:08.574Z",
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "defaultAccountStoreMapping" : null,
          "defaultGroupStoreMapping" : null,
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA/customData"
          },
          "oAuthPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/oAuthPolicies/62rpqxacGhmPoqnWmRJXrA"
          },
          "samlPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/samlPolicies/62rpqxacGhmPoqnWmRJXrA"
          },
          "accountLinkingPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/accountLinkingPolicies/62sBTE3X2G8ShSuCdGKiS4"
          },
          "webConfig" : {
            "href" : "https://dev.i.stormpath.com/v1/webConfigs/62sBTHNbwqRRKI03pWBz48"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA/accounts"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA/groups"
          },
          "accountStoreMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA/accountStoreMappings"
          },
          "loginAttempts" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA/loginAttempts"
          },
          "passwordResetTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA/passwordResetTokens"
          },
          "apiKeys" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA/apiKeys"
          },
          "verificationEmails" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA/verificationEmails"
          },
          "authTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA/authTokens"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:11 GMT
[...]
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories
    body:
      encoding: UTF-8
      string: '{"name":"test_directory_"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151711Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu
      Stormpath-Request-Id:
      - c71a2ed0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu",
          "name" : "test_directory_",
          "description" : null,
          "status" : "ENABLED",
          "createdAt" : "2016-10-11T15:17:09.319Z",
          "modifiedAt" : "2016-10-11T15:17:09.319Z",
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "provider" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/provider"
          },
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/customData"
          },
          "passwordPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/passwordPolicies/63hvSdfPG5hl1TgNSyjfyu"
          },
          "accountCreationPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/accountCreationPolicies/63hvSdfPG5hl1TgNSyjfyu"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/accounts"
          },
          "applicationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/applicationMappings"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/applications"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/groups"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/organizations"
          },
          "organizationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/organizationMappings"
          },
          "accountSchema" : {
            "href" : "https://dev.i.stormpath.com/v1/schemas/63i46vt39xibAPM9OnqmZI"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:12 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/accountStoreMappings
    body:
      encoding: UTF-8
      string: '{"application":{"href":"https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA"},"accountStore":{"href":"https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu","name":"test_directory_","description":null,"status":"ENABLED","createdAt":"2016-10-11T15:17:09.319Z","modifiedAt":"2016-10-11T15:17:09.319Z","tenant":{"href":"https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"},"provider":{"href":"https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/provider"},"customData":{"href":"https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/customData"},"passwordPolicy":{"href":"https://dev.i.stormpath.com/v1/passwordPolicies/63hvSdfPG5hl1TgNSyjfyu"},"accountCreationPolicy":{"href":"https://dev.i.stormpath.com/v1/accountCreationPolicies/63hvSdfPG5hl1TgNSyjfyu"},"accounts":{"href":"https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/accounts"},"applicationMappings":{"href":"https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/applicationMappings"},"applications":{"href":"https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/applications"},"groups":{"href":"https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/groups"},"organizations":{"href":"https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/organizations"},"organizationMappings":{"href":"https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/organizationMappings"},"accountSchema":{"href":"https://dev.i.stormpath.com/v1/schemas/63i46vt39xibAPM9OnqmZI"}},"listIndex":1,"isDefaultAccountStore":true,"isDefaultGroupStore":true}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151712Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/accountStoreMappings/641F3Lu89OCjQKRm4ANk9k
      Stormpath-Request-Id:
      - c743d6e0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/accountStoreMappings/641F3Lu89OCjQKRm4ANk9k",
          "listIndex" : 0,
          "isDefaultAccountStore" : true,
          "isDefaultGroupStore" : true,
          "application" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA"
          },
          "accountStore" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:12 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test@example.com","givenName":"Ruby SDK","password":"P@$$w0rd","surname":"SDK","username":"rubysdk"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151712Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m
      Stormpath-Request-Id:
      - c76c1f60-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m",
          "username" : "rubysdk",
          "email" : "test@example.com",
          "givenName" : "Ruby SDK",
          "middleName" : null,
          "surname" : "SDK",
          "fullName" : "Ruby SDK SDK",
          "status" : "ENABLED",
          "emailVerificationStatus" : "UNVERIFIED",
          "createdAt" : "2016-10-11T15:17:09.862Z",
          "modifiedAt" : "2016-10-11T15:17:09.862Z",
          "passwordModifiedAt" : "2016-10-11T15:17:09.000Z",
          "emailVerificationToken" : null,
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/customData"
          },
          "providerData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/providerData"
          },
          "directory" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu"
          },
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/groups"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/applications"
          },
          "groupMemberships" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/groupMemberships"
          },
          "apiKeys" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/apiKeys"
          },
          "accessTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/accessTokens"
          },
          "refreshTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/refreshTokens"
          },
          "linkedAccounts" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/linkedAccounts"
          },
          "accountLinks" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/accountLinks"
          },
          "phones" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/phones"
          },
          "factors" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/factors"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:12 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m/factors
    body:
      encoding: UTF-8
      string: '{"type":"SMS","phone":{"number":"+385958142457","name":"Markos test
        phone","description":"this is a testing phone number"}}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151712Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/factors/64dnumPTUf2RsKeI5pjJOu
      Stormpath-Request-Id:
      - c7977520-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/factors/64dnumPTUf2RsKeI5pjJOu",
          "type" : "SMS",
          "createdAt" : "2016-10-11T15:17:10.146Z",
          "modifiedAt" : "2016-10-11T15:17:10.146Z",
          "status" : "ENABLED",
          "verificationStatus" : "UNVERIFIED",
          "account" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m"
          },
          "challenges" : {
            "href" : "https://dev.i.stormpath.com/v1/factors/64dnumPTUf2RsKeI5pjJOu/challenges"
          },
          "phone" : {
            "href" : "https://dev.i.stormpath.com/v1/phones/64dnuj5Oa4jTFVYQtZs2mq"
          },
          "mostRecentChallenge" : null
        }
  recorded_at: Tue, 11 Oct 2016 15:17:13 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/phones/64dnuj5Oa4jTFVYQtZs2mq
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151713Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - c7c00bc0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/phones/64dnuj5Oa4jTFVYQtZs2mq",
          "createdAt" : "2016-10-11T15:17:10.146Z",
          "modifiedAt" : "2016-10-11T15:17:10.146Z",
          "number" : "+385958142457",
          "description" : "this is a testing phone number",
          "name" : "Markos test phone",
          "verificationStatus" : "UNVERIFIED",
          "status" : "ENABLED",
          "account" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:13 GMT
[...]
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/applications/62rpqxacGhmPoqnWmRJXrA
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151713Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - c82f6f60-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https:/[...]
[...]
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/accounts/64JrPXD1VZzc3wzoxhzT8m
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151714Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - c8802770-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:14 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/directories/63hvSdfPG5hl1TgNSyjfyu
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151714Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - c8aed890-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:14 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/factors/64dnumPTUf2RsKeI5pjJOu
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151714Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - c8ddb0c0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:15 GMT
recorded_with: VCR 2.9.3
