---
http_interactions:
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/current
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151451Z
  response:
    status:
      code: 302
      message:
    headers:
      Location:
      - https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
      Stormpath-Request-Id:
      - 7406c9b0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:14:52 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151452Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - 742af380-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo",
          "name" : "cuddly-talon",
          "key" : "cuddly-talon",
          "createdAt" : "2016-10-06T14:27:32.021Z",
          "modifiedAt" : "2016-10-06T14:27:32.559Z",
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/customData"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/organizations"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/applications"
          },
          "directories" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/directories"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/accounts"
          },
          "agents" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/agents"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/groups"
          },
          "idSites" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/idSites"
          },
          "smtpServers" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/smtpServers"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:14:53 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories
    body:
      encoding: UTF-8
      string: '{"name":"test_directory_"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151453Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk
      Stormpath-Request-Id:
      - 745278b0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk",
          "name" : "test_directory_",
          "description" : null,
          "status" : "ENABLED",
          "createdAt" : "2016-10-11T15:14:50.437Z",
          "modifiedAt" : "2016-10-11T15:14:50.437Z",
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "provider" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk/provider"
          },
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk/customData"
          },
          "passwordPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/passwordPolicies/3XVHpatQIxwhiCQQ4aZLtk"
          },
          "accountCreationPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/accountCreationPolicies/3XVHpatQIxwhiCQQ4aZLtk"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk/accounts"
          },
          "applicationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk/applicationMappings"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk/applications"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk/groups"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk/organizations"
          },
          "organizationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk/organizationMappings"
          },
          "accountSchema" : {
            "href" : "https://dev.i.stormpath.com/v1/schemas/3XVQU35IwasTjbNlbBGGKK"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:14:53 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test@example.com","givenName":"Ruby SDK","password":"P@$$w0rd","surname":"SDK","username":"rubysdk"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151453Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY
      Stormpath-Request-Id:
      - 747d8050-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY",
          "username" : "rubysdk",
          "email" : "test@example.com",
          "givenName" : "Ruby SDK",
          "middleName" : null,
          "surname" : "SDK",
          "fullName" : "Ruby SDK SDK",
          "status" : "ENABLED",
          "emailVerificationStatus" : "UNVERIFIED",
          "createdAt" : "2016-10-11T15:14:50.724Z",
          "modifiedAt" : "2016-10-11T15:14:50.724Z",
          "passwordModifiedAt" : "2016-10-11T15:14:50.000Z",
          "emailVerificationToken" : null,
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/customData"
          },
          "providerData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/providerData"
          },
          "directory" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk"
          },
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/groups"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/applications"
          },
          "groupMemberships" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/groupMemberships"
          },
          "apiKeys" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/apiKeys"
          },
          "accessTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/accessTokens"
          },
          "refreshTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/refreshTokens"
          },
          "linkedAccounts" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/linkedAccounts"
          },
          "accountLinks" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/accountLinks"
          },
          "phones" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/phones"
          },
          "factors" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/factors"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:14:53 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY/factors
    body:
      encoding: UTF-8
      string: '{"type":"SMS","phone":{"number":"+385958142457","name":"Rspec test
        phone","description":"This is a testing phone number"}}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151453Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/factors/3Y96Vyg40dGBjcDMlcNw5M
      Stormpath-Request-Id:
      - 74a812c0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/factors/3Y96Vyg40dGBjcDMlcNw5M",
          "type" : "SMS",
          "createdAt" : "2016-10-11T15:14:51.005Z",
          "modifiedAt" : "2016-10-11T15:14:51.005Z",
          "status" : "ENABLED",
          "verificationStatus" : "UNVERIFIED",
          "account" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY"
          },
          "challenges" : {
            "href" : "https://dev.i.stormpath.com/v1/factors/3Y96Vyg40dGBjcDMlcNw5M/challenges"
          },
          "phone" : {
            "href" : "https://dev.i.stormpath.com/v1/phones/3Y96VvLz62xD6n7VZMWfTI"
          },
          "mostRecentChallenge" : null
        }
  recorded_at: Tue, 11 Oct 2016 15:14:53 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/factors/3Y96Vyg40dGBjcDMlcNw5M/challenges
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151453Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - 74d0f780-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/factors/3Y96Vyg40dGBjcDMlcNw5M/challenges",
          "offset" : 0,
          "limit" : 25,
          "size" : 0,
          "items" : [ ]
        }
  recorded_at: Tue, 11 Oct 2016 15:14:54 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/factors/3Y96Vyg40dGBjcDMlcNw5M
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151454Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - 74f71d20-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:14:54 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/accounts/3XpRIweLRC6BpKFR7LrQhY
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151454Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - 751c0a40-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:14:54 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/directories/3XVHpatQIxwhiCQQ4aZLtk
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151454Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - 75434150-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:14:54 GMT
recorded_with: VCR 2.9.3
