---
http_interactions:
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/current
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151738Z
  response:
    status:
      code: 302
      message:
    headers:
      Location:
      - https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
      Stormpath-Request-Id:
      - d7526790-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:39 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151739Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - d7769160-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo",
          "name" : "cuddly-talon",
          "key" : "cuddly-talon",
          "createdAt" : "2016-10-06T14:27:32.021Z",
          "modifiedAt" : "2016-10-06T14:27:32.559Z",
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/customData"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/organizations"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/applications"
          },
          "directories" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/directories"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/accounts"
          },
          "agents" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/agents"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/groups"
          },
          "idSites" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/idSites"
          },
          "smtpServers" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/smtpServers"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:39 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/applications
    body:
      encoding: UTF-8
      string: '{"name":"test_application_","description":"Dummy desc."}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151739Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM
      Stormpath-Request-Id:
      - d79c8ff0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM",
          "name" : "test_application_",
          "description" : "Dummy desc.",
          "status" : "ENABLED",
          "createdAt" : "2016-10-11T15:17:37.017Z",
          "modifiedAt" : "2016-10-11T15:17:37.021Z",
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "defaultAccountStoreMapping" : null,
          "defaultGroupStoreMapping" : null,
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM/customData"
          },
          "oAuthPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/oAuthPolicies/6Yrb02hznq8O56YBojAFBM"
          },
          "samlPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/samlPolicies/6Yrb02hznq8O56YBojAFBM"
          },
          "accountLinkingPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/accountLinkingPolicies/6YrsIFsjDU1DzCEjIaNa3g"
          },
          "webConfig" : {
            "href" : "https://dev.i.stormpath.com/v1/webConfigs/6YrsIJCo84KCc1KaUqEqfk"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM/accounts"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM/groups"
          },
          "accountStoreMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM/accountStoreMappings"
          },
          "loginAttempts" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM/loginAttempts"
          },
          "passwordResetTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM/passwordResetTokens"
          },
          "apiKeys" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM/apiKeys"
          },
          "verificationEmails" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM/verificationEmails"
          },
          "authTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM/authTokens"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:39 GMT
[...]
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories
    body:
      encoding: UTF-8
      string: '{"name":"test_directory_"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151740Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy
      Stormpath-Request-Id:
      - d81198e0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy",
          "name" : "test_directory_",
          "description" : null,
          "status" : "ENABLED",
          "createdAt" : "2016-10-11T15:17:37.784Z",
          "modifiedAt" : "2016-10-11T15:17:37.784Z",
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "provider" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/provider"
          },
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/customData"
          },
          "passwordPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/passwordPolicies/6Zis6cltni4HscbKnfFYWy"
          },
          "accountCreationPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/accountCreationPolicies/6Zis6cltni4HscbKnfFYWy"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/accounts"
          },
          "applicationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/applicationMappings"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/applications"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/groups"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/organizations"
          },
          "organizationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/organizationMappings"
          },
          "accountSchema" : {
            "href" : "https://dev.i.stormpath.com/v1/schemas/6Zj0lBbwGVc19fkOilf0Bg"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:40 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/accountStoreMappings
    body:
      encoding: UTF-8
      string: '{"application":{"href":"https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM"},"accountStore":{"href":"https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy","name":"test_directory_","description":null,"status":"ENABLED","createdAt":"2016-10-11T15:17:37.784Z","modifiedAt":"2016-10-11T15:17:37.784Z","tenant":{"href":"https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"},"provider":{"href":"https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/provider"},"customData":{"href":"https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/customData"},"passwordPolicy":{"href":"https://dev.i.stormpath.com/v1/passwordPolicies/6Zis6cltni4HscbKnfFYWy"},"accountCreationPolicy":{"href":"https://dev.i.stormpath.com/v1/accountCreationPolicies/6Zis6cltni4HscbKnfFYWy"},"accounts":{"href":"https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/accounts"},"applicationMappings":{"href":"https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/applicationMappings"},"applications":{"href":"https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/applications"},"groups":{"href":"https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/groups"},"organizations":{"href":"https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/organizations"},"organizationMappings":{"href":"https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/organizationMappings"},"accountSchema":{"href":"https://dev.i.stormpath.com/v1/schemas/6Zj0lBbwGVc19fkOilf0Bg"}},"listIndex":1,"isDefaultAccountStore":true,"isDefaultGroupStore":true}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151740Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/accountStoreMappings/6a2XJbTXSYvJA5TPFfunIi
      Stormpath-Request-Id:
      - d83c0440-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/accountStoreMappings/6a2XJbTXSYvJA5TPFfunIi",
          "listIndex" : 0,
          "isDefaultAccountStore" : true,
          "isDefaultGroupStore" : true,
          "application" : {
            "href" : "https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM"
          },
          "accountStore" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:40 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test@example.com","givenName":"Ruby SDK","password":"P@$$w0rd","surname":"SDK","username":"rubysdk"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151740Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu
      Stormpath-Request-Id:
      - d8649ae0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu",
          "username" : "rubysdk",
          "email" : "test@example.com",
          "givenName" : "Ruby SDK",
          "middleName" : null,
          "surname" : "SDK",
          "fullName" : "Ruby SDK SDK",
          "status" : "ENABLED",
          "emailVerificationStatus" : "UNVERIFIED",
          "createdAt" : "2016-10-11T15:17:38.333Z",
          "modifiedAt" : "2016-10-11T15:17:38.333Z",
          "passwordModifiedAt" : "2016-10-11T15:17:38.000Z",
          "emailVerificationToken" : null,
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/customData"
          },
          "providerData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/providerData"
          },
          "directory" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy"
          },
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/groups"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/applications"
          },
          "groupMemberships" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/groupMemberships"
          },
          "apiKeys" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/apiKeys"
          },
          "accessTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/accessTokens"
          },
          "refreshTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/refreshTokens"
          },
          "linkedAccounts" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/linkedAccounts"
          },
          "accountLinks" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/accountLinks"
          },
          "phones" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/phones"
          },
          "factors" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/factors"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:41 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu/factors
    body:
      encoding: UTF-8
      string: '{"type":"SMS","phone":{"number":"+385958142457","name":"Markos test
        phone","description":"this is a testing phone number"}}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151741Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/factors/6aeOwV33Gj2vqrSZZhE1M4
      Stormpath-Request-Id:
      - d88e1be0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/factors/6aeOwV33Gj2vqrSZZhE1M4",
          "type" : "SMS",
          "createdAt" : "2016-10-11T15:17:38.606Z",
          "modifiedAt" : "2016-10-11T15:17:38.606Z",
          "status" : "ENABLED",
          "verificationStatus" : "UNVERIFIED",
          "account" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu"
          },
          "challenges" : {
            "href" : "https://dev.i.stormpath.com/v1/factors/6aeOwV33Gj2vqrSZZhE1M4/challenges"
          },
          "phone" : {
            "href" : "https://dev.i.stormpath.com/v1/phones/6aeOwRiyM8jxE2MiNRMkk0"
          },
          "mostRecentChallenge" : null
        }
  recorded_at: Tue, 11 Oct 2016 15:17:41 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/factors/6aeOwV33Gj2vqrSZZhE1M4/challenges
    body:
      encoding: UTF-8
      string: '{"message":"Enter code: ${code}"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151741Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/challenges/6awoKT9Jeb7Cw5eMA5YyZI
      Stormpath-Request-Id:
      - d8b68b70-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/challenges/6awoKT9Jeb7Cw5eMA5YyZI",
          "createdAt" : "2016-10-11T15:17:38.870Z",
          "modifiedAt" : "2016-10-11T15:17:38.870Z",
          "status" : "CREATED",
          "message" : "Enter code: ${code}",
          "account" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu"
          },
          "factor" : {
            "href" : "https://dev.i.stormpath.com/v1/factors/6aeOwV33Gj2vqrSZZhE1M4"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:17:41 GMT
[...]
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/applications/6Yrb02hznq8O56YBojAFBM
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151742Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - d9294a70-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https:/[...]
[...]
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/accounts/6aLIJtMnWZebkkrit98Biu
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151742Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - d9787be0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:43 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/directories/6Zis6cltni4HscbKnfFYWy
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151743Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - d9a00110-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:43 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/factors/6aeOwV33Gj2vqrSZZhE1M4
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151743Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - d9c7ad50-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:17:43 GMT
recorded_with: VCR 2.9.3
