---
http_interactions:
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/current
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151445Z
  response:
    status:
      code: 302
      message:
    headers:
      Location:
      - https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
      Stormpath-Request-Id:
      - 706511e0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:14:46 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151446Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - 708914a0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo",
          "name" : "cuddly-talon",
          "key" : "cuddly-talon",
          "createdAt" : "2016-10-06T14:27:32.021Z",
          "modifiedAt" : "2016-10-06T14:27:32.559Z",
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/customData"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/organizations"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/applications"
          },
          "directories" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/directories"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/accounts"
          },
          "agents" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/agents"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/groups"
          },
          "idSites" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/idSites"
          },
          "smtpServers" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo/smtpServers"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:14:46 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories
    body:
      encoding: UTF-8
      string: '{"name":"test_directory_"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151446Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe
      Stormpath-Request-Id:
      - 70af6150-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe",
          "name" : "test_directory_",
          "description" : null,
          "status" : "ENABLED",
          "createdAt" : "2016-10-11T15:14:44.335Z",
          "modifiedAt" : "2016-10-11T15:14:44.335Z",
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "provider" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe/provider"
          },
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe/customData"
          },
          "passwordPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/passwordPolicies/3QdmDTK1r7Bb5IEbujvCIe"
          },
          "accountCreationPolicy" : {
            "href" : "https://dev.i.stormpath.com/v1/accountCreationPolicies/3QdmDTK1r7Bb5IEbujvCIe"
          },
          "accounts" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe/accounts"
          },
          "applicationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe/applicationMappings"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe/applications"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe/groups"
          },
          "organizations" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe/organizations"
          },
          "organizationMappings" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe/organizationMappings"
          },
          "accountSchema" : {
            "href" : "https://dev.i.stormpath.com/v1/schemas/3Qdurtqs2RxsnHe1qCgTQC"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:14:47 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe/accounts
    body:
      encoding: UTF-8
      string: '{"email":"test@example.com","givenName":"Ruby SDK","password":"P@$$w0rd","surname":"SDK","username":"rubysdk"}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151447Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo
      Stormpath-Request-Id:
      - 70d90960-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo",
          "username" : "rubysdk",
          "email" : "test@example.com",
          "givenName" : "Ruby SDK",
          "middleName" : null,
          "surname" : "SDK",
          "fullName" : "Ruby SDK SDK",
          "status" : "ENABLED",
          "emailVerificationStatus" : "UNVERIFIED",
          "createdAt" : "2016-10-11T15:14:44.615Z",
          "modifiedAt" : "2016-10-11T15:14:44.615Z",
          "passwordModifiedAt" : "2016-10-11T15:14:44.000Z",
          "emailVerificationToken" : null,
          "customData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/customData"
          },
          "providerData" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/providerData"
          },
          "directory" : {
            "href" : "https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe"
          },
          "tenant" : {
            "href" : "https://dev.i.stormpath.com/v1/tenants/8Mi5LmTT8up4m2AGa2gdo"
          },
          "groups" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/groups"
          },
          "applications" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/applications"
          },
          "groupMemberships" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/groupMemberships"
          },
          "apiKeys" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/apiKeys"
          },
          "accessTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/accessTokens"
          },
          "refreshTokens" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/refreshTokens"
          },
          "linkedAccounts" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/linkedAccounts"
          },
          "accountLinks" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/accountLinks"
          },
          "phones" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/phones"
          },
          "factors" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/factors"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:14:47 GMT
- request:
    method: post
    uri: https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo/factors?challenge=true
    body:
      encoding: UTF-8
      string: '{"type":"SMS","phone":{"number":"+385958142457","name":"Rspec test
        phone","description":"This is a testing phone number"},"challenge":{"message":"Enter
        code please:  ${code}"}}'
    headers:
      Content-Type:
      - application/json
      X-Stormpath-Date:
      - 20161011T151447Z
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://dev.i.stormpath.com/v1/factors/3RHAxXLZRJfpFZUkNyumAm
      Stormpath-Request-Id:
      - 71043810-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/factors/3RHAxXLZRJfpFZUkNyumAm",
          "type" : "SMS",
          "createdAt" : "2016-10-11T15:14:44.897Z",
          "modifiedAt" : "2016-10-11T15:14:44.898Z",
          "status" : "ENABLED",
          "verificationStatus" : "UNVERIFIED",
          "account" : {
            "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo"
          },
          "challenges" : {
            "href" : "https://dev.i.stormpath.com/v1/factors/3RHAxXLZRJfpFZUkNyumAm/challenges"
          },
          "phone" : {
            "href" : "https://dev.i.stormpath.com/v1/phones/3RHAxU1UWjMqckOtBj3VYi"
          },
          "mostRecentChallenge" : {
            "href" : "https://dev.i.stormpath.com/v1/challenges/3RHFHXJfsdq3bGp1YgrLHI"
          }
        }
  recorded_at: Tue, 11 Oct 2016 15:14:47 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/factors/3RHAxXLZRJfpFZUkNyumAm/challenges
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151447Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - 712ca7a0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/factors/3RHAxXLZRJfpFZUkNyumAm/challenges",
          "offset" : 0,
          "limit" : 25,
          "size" : 1,
          "items" : [ {
            "href" : "https://dev.i.stormpath.com/v1/challenges/3RHFHXJfsdq3bGp1YgrLHI",
            "createdAt" : "2016-10-11T15:14:44.898Z",
            "modifiedAt" : "2016-10-11T15:14:44.898Z",
            "status" : "CREATED",
            "message" : "Enter code please:  ${code}",
            "account" : {
              "href" : "https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo"
            },
            "factor" : {
              "href" : "https://dev.i.stormpath.com/v1/factors/3RHAxXLZRJfpFZUkNyumAm"
            }
          } ]
        }
  recorded_at: Tue, 11 Oct 2016 15:14:48 GMT
- request:
    method: get
    uri: https://dev.i.stormpath.com/v1/factors/3RHAxXLZRJfpFZUkNyumAm/challenges?offset=25
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151448Z
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Stormpath-Request-Id:
      - 71547af0-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: |-
        {
          "href" : "https://dev.i.stormpath.com/v1/factors/3RHAxXLZRJfpFZUkNyumAm/challenges",
          "offset" : 25,
          "limit" : 25,
          "size" : 1,
          "items" : [ ]
        }
  recorded_at: Tue, 11 Oct 2016 15:14:48 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/factors/3RHAxXLZRJfpFZUkNyumAm
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151448Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - 717c2730-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:14:48 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/accounts/3QxN6OjUA3ZPOEgXzmmbLo
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151448Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - 71a18980-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:14:48 GMT
- request:
    method: delete
    uri: https://dev.i.stormpath.com/v1/directories/3QdmDTK1r7Bb5IEbujvCIe
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Stormpath-Date:
      - 20161011T151448Z
  response:
    status:
      code: 204
      message:
    headers:
      Stormpath-Request-Id:
      - 71c87270-8fc5-11e6-ab0c-d628598d3bfc
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Oct 2016 15:14:49 GMT
recorded_with: VCR 2.9.3
